* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;

    padding: 0rem;
    margin: 0rem;

    justify-content: flex-end;
  
    background-color: rebeccapurple;
    min-height: 100vh;
}


.header {
    display: flex;
    background-color: #fef8ed;
    height: 4rem;
    margin: 0rem;
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.header-logo {
    display: flex;
    
    justify-content: flex-start;
    

    flex: 1 1 auto;
    width: 100px;
    height: 80px;
}

.header-links {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0px;
    padding: 0px;
}

.top-content {
    display: flex;
    background-color: #fef8ed;
    height: fit-content;
    padding-left: 10rem;
    padding-right: 10rem;

    flex-grow: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
}

.top-image {
    display: flex;
    flex: 1 1 auto;
    width: 1000px;
    height: 300px;
    
}

img {
    max-width: 100%;
}

.top-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 250px;
    padding-right: 3rem;
    gap: .5rem;

    padding-bottom: 3rem;
    
}

button {
    background-color: rgb(212, 196, 172);
    color: rgb(86, 84, 81);
    padding: .75rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    border-radius: 4px;
    
    margin-top: .5rem;

}

.middle-content {
    display: flex;
    background-color: rgb(255, 253, 250);
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    gap: 1.5rem;
}

.overall-info {
    display: flex;
    gap: .25rem;
}

.info-container {
    display: flex;
    flex-direction: column;
   
    padding: .5rem;
    width: 150px;
    gap: 1rem;
}

.info-boxes {
    display: flex;
    border: 3px solid #e2d6ba;
    border-radius: 12px;
    height: 9rem;
}


.quote-content {
    display: flex;
    background-color: #ebe8e5;
    height: fit-content;
    padding-left: 20rem;
    padding-right: 20rem;
    flex-grow: 1;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.quote {
    
    padding: 0px;
    margin: 0px;
}

.author {
    
    align-self: flex-end;
}

.bottom-content {
    display: flex;
    background-color: #fcfaf6;
    height: auto;
    flex-grow: 1;
    padding-left: 8rem;
    padding-right: 8rem;

    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    height: 100px;
    width: 800px;
    padding-left: 6rem;
    padding-right: 6rem;
    border-radius: 6px;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(212, 196, 172);



}

.cta-info {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.bottom-button {
    border: 1px solid rgb(108, 108, 106);
    color: rgb(108, 108, 106);
}



.footer {
    display: flex;
    background-color: #fef8ed;
    height: 4rem;
    align-items: center;
    justify-content: center;
    
}